@(user: models.users.User)

<!doctype html>

<html>
<head>
    							<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="@routes.Assets.versioned("stylesheets/main.css")" rel="stylesheet">
<script src="@routes.Assets.versioned("javascripts/script.js")"></script>

<meta charset="UTF-8">

<title> TGN </title>
</head>
<body>
   
	
    <nav>
        <a href="/">
            <div class="navbar-header">
                <a class="navbar-brand" href="/"><img src="assets/images/tgn.png" alt="tgn"></a>
            
 
    </a>
    </nav>
    <ul>
          
      <li><a href="/support"class='active-page'>Support</a></li>
      <li><a href="/reviews">Reviews</a></li>
      <li><a href="/news">News</a></li>
      <li><a href="/videos">Videos</a></li>

     </ul> 
  <h1> Support Page </h1>  
  <h2>Need a hand? Let us know!</h2>
     
  











    </body>

  <footer>
    <p>Second Year Project:
    Alan Kelly Anthony Koleoso
    </a></p>
  </footer>

     
     						
							